[submodule "client/red4ext/deps/RED4ext.SDK"]
	path = client/red4ext/deps/RED4ext.SDK
	url = https://github.com/WopsS/RED4ext.SDK.git
[submodule "client/red4ext/deps/red-lib"]
	path = client/red4ext/deps/red-lib
	url = https://github.com/psiberx/cp2077-red-lib
